.tripleBannerSection {
  display: flex;
  width: 70%;
  justify-content: center;
  column-gap: 5%;
  margin: 25px auto;
}
.areas {
  text-align: center;
  flex: 1;
  margin: 50px;
  img {
    width: 120px;
    margin-bottom: 20px;
  }
  h2 {
    margin-bottom: 20px;
  }
}

.headers{
text-align: center;
}


.imageTextSection {
  display: flex;
  margin: 0 auto;
  padding: 50px 0;
  width: 90%;
  column-gap: 15px;
  img {
    width: 50%;
    border-radius: 10px;
  }
}
.write {
  margin: auto 0;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 300;
  line-height: 2;
}