.tripleBannerSection {
  display: flex;
  width: 70%;
  justify-content: center;
  column-gap: 5%;
  margin: 25px auto;
}
.areas {
  text-align: center;
  flex: 1;
  margin: 50px;
  img {
    width: 120px;
    margin-bottom: 20px;
  }
  h2 {
    margin-bottom: 20px;
  }
}

.headers{
text-align: center;
}

