* {
  margin: 0;
  padding: 0;
  font-family: "bryant-medium" !important;
}

ul {
  list-style: none;
}

a {
  cursor: pointer;
}

[data-bs-theme=dark] {
  --bs-body-bg: #666666 !important;
  --bs-tertiary-bg-rgb: 100,100,100 !important;
}

[data-bs-theme=light] {
  --bs-tertiary-bg-rgb: 1000,1000,1000 !important;
}

@font-face {
  font-family: "bryant-medium";
  src: url("../font/bryant-medium-webfont.woff") format("woff"), url("../font/bryant-medium-webfont.ttf") format("truetype");
}
footer {
  background-image: linear-gradient(130deg, rgb(163, 28, 68), rgba(35, 31, 32, 0.7)), url("../images/stylist-materials.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
  padding: 35px 50px;
  background-blend-mode: #a31c44;
}

.footerSub {
  margin-bottom: 15px;
}
.footerSub p {
  font-size: large;
  text-transform: uppercase;
}
.footerSub a :first-child {
  pointer-events: auto;
  cursor: pointer;
}
.footerSub span {
  font-size: 18px;
  font-weight: lighter;
}

.nav-item span {
  font-size: 15px !important;
  color: #a31c44 !important;
  font-family: "bryant-medium" !important;
  border-right: 1px solid #a31c44 !important;
  padding: 0 8px !important;
  padding-right: 20px !important;
}

.nav-item .active span {
  color: #21c1b0 !important;
}

.nav-item > button > span {
  color: rgb(97, 5, 5) !important;
}

.navbar-collapse {
  justify-content: flex-end !important;
}

.bannerText {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 3em;
  letter-spacing: 1px;
  position: absolute;
  left: auto;
  top: 40%;
}

.buttonDiv {
  width: 100%;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
  position: absolute;
  top: 58%;
  font-size: 14x;
}

.tripleBannerSection {
  display: flex;
  width: 70%;
  justify-content: center;
  -moz-column-gap: 5%;
       column-gap: 5%;
  margin: 25px auto;
}

.siteButton {
  border: 1px solid #a31c44;
  background-color: #a31c44;
  color: #fff;
  padding: 8px 25px;
  text-transform: uppercase;
  border-radius: 10px;
}
.siteButton :hover {
  background-color: #fff;
  border: 1px solid;
  color: #a31c44;
  cursor: pointer;
}

@media (max-width: 991px) {
  .nav-item span {
    border-right: none !important;
  }
  .navbar-collapse {
    justify-content: center !important;
  }
  header {
    padding: 10px 0 !important;
  }
}
.bg-custom {
  background-color: #e4e3e3 !important;
}

.carousel-indicators-custom {
  display: flex !important;
  justify-content: start !important;
  margin-left: 20px !important;
}
.carousel-indicators-custom button {
  background-color: #fff;
  border-radius: 50% !important;
  width: 10px !important;
  height: 10px !important;
  margin: 0 3px !important;
  border: solid 1px #a31c44 !important;
  cursor: pointer !important;
}
.carousel-indicators-custom .active {
  background-color: #a31c44 !important;
}

.social-icons {
  color: #fff;
  font-size: 24px;
  text-align: center;
  margin-top: 20px;
}

.social-icons i {
  margin-right: 10px;
}

.commentSection {
  margin: 70px auto;
  display: flex;
  justify-content: center;
  -moz-column-gap: 10%;
       column-gap: 10%;
  align-items: center;
}

.commentContainer {
  padding: 25px 40px;
  flex: 1;
  align-items: center;
  height: 100%;
  position: relative;
}

.commentTextArea {
  text-align: center;
  flex: 1;
}

.commentContainer .message-left {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 15px;
  left: 15px;
}

.commentContainer .message-right {
  width: 15px;
  height: 15px;
  position: absolute;
  right: 15px;
  bottom: 15px;
}

.commentContainer .commentCustomerName {
  right: 15px;
  bottom: -30px;
  color: #a31c44;
  font-size: 12px;
}

.padding-2 {
  padding: 0.5rem !important;
}

.write3 {
  color: #fff;
  margin: auto 0;
  text-align: center;
  letter-spacing: 1px;
}

.imagearsiv {
  text-align: center;
  margin: 25px 0;
}
.imagearsiv img {
  width: 300px;
  margin: 10px;
  height: 300px;
  border-radius: 3%;
}

.imageArsivContainer {
  background-color: #a31c44;
  padding: 50px 0;
  margin-top: 70px;
}

.bi > a {
  color: #fff;
}

header {
  padding: 20px 50px;
}

.logo {
  display: flex;
  width: 70%;
  margin: 35px auto;
  justify-content: center;
  -moz-column-gap: 75px;
       column-gap: 75px;
}

.logos img {
  width: 100%;
}

.write2 {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

.carousel-item {
  max-height: 680px;
}

.siteButton {
  border: 1px solid #a31c44;
  background-color: #a31c44;
  color: #fff;
  padding: 8px 25px;
  text-transform: uppercase;
  border-radius: 10px;
}

.siteButton:hover {
  background-color: #fff;
  border: 1px solid;
  color: #a31c44;
  cursor: pointer;
}

.commentSection {
  margin: 70px auto;
  display: flex;
  justify-content: center;
  -moz-column-gap: 10%;
       column-gap: 10%;
  align-items: center;
}

.commentTextArea {
  text-align: center;
  flex: 1;
}

.btn {
  padding: 0 !important;
  border: 0 !important;
}

.card {
  height: 100% !important;
}

@media (max-width: 991px) {
  .logos img {
    width: 120%;
  }
  .bannerText {
    font-size: 1.5em;
  }
  .buttonDiv {
    font-size: 12px;
  }
  .tripleBannerSection {
    flex-wrap: wrap;
  }
  .areas img {
    width: 80px;
  }
  .areas {
    margin: 20px 50px;
  }
  .foto1 {
    display: none;
  }
  .imageTextSection {
    width: 90%;
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
  .commentContainer {
    margin-bottom: 120px;
  }
  footer {
    display: block;
  }
  .footerSub {
    margin-bottom: 15px;
  }
}
.tripleBannerSection {
  display: flex;
  width: 70%;
  justify-content: center;
  -moz-column-gap: 5%;
       column-gap: 5%;
  margin: 25px auto;
}

.areas {
  text-align: center;
  flex: 1;
  margin: 50px;
}
.areas img {
  width: 120px;
  margin-bottom: 20px;
}
.areas h2 {
  margin-bottom: 20px;
}

.headers {
  text-align: center;
}

.bg-custom {
  background-color: #e4e3e3 !important;
}

.carousel-indicators-custom {
  display: flex !important;
  justify-content: start !important;
  margin-left: 20px !important;
}
.carousel-indicators-custom button {
  background-color: #fff;
  border-radius: 50% !important;
  width: 10px !important;
  height: 10px !important;
  margin: 0 3px !important;
  border: solid 1px #a31c44 !important;
  cursor: pointer !important;
}
.carousel-indicators-custom .active {
  background-color: #a31c44 !important;
}

.social-icons {
  color: #fff;
  font-size: 24px;
  text-align: center;
  margin-top: 20px;
}

.social-icons i {
  margin-right: 10px;
}

.commentSection {
  margin: 70px auto;
  display: flex;
  justify-content: center;
  -moz-column-gap: 10%;
       column-gap: 10%;
  align-items: center;
}

.commentContainer {
  padding: 25px 40px;
  flex: 1;
  align-items: center;
  height: 100%;
  position: relative;
}

.commentTextArea {
  text-align: center;
  flex: 1;
}

.commentContainer .message-left {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 15px;
  left: 15px;
}

.commentContainer .message-right {
  width: 15px;
  height: 15px;
  position: absolute;
  right: 15px;
  bottom: 15px;
}

.commentContainer .commentCustomerName {
  right: 15px;
  bottom: -30px;
  color: #a31c44;
  font-size: 12px;
}

.padding-2 {
  padding: 0.5rem !important;
}/*# sourceMappingURL=style.css.map */